.home-holder {
  padding: 0 5rem;
  margin-top: 3rem;
}

.home-title {
  font-size: 26px;
  color: rgb(195, 25, 198);
}

.home-text {
  margin-left: 3rem;
  margin-top: 5rem;
  font-size: 20px;
  color: aliceblue;
}

.home-second-text {
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 20px;
  color: aliceblue;
}
